.bicicletas {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.bicicletas-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.img-bike {
    border-radius: 4px;
    margin: 30px 0px 15px 0px;
}

.nome {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.nome::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 7px;
    background-color: var(--cor-p1);
    position: relative;
    top: -7px;
    margin-right: 5px;
}

.preco {
    color: var(--cor-8);
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 15px;
}