.introducao {
    background-color: var(--cor-12);
    
}

.intro-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 100px;
}

.intro-container h1 {
    color: var(--cor-0);
    font-size: 4rem;
}

.intro-container p {
    color: var(--cor-5);
    font-size: 1.5rem;
    line-height: 1.5;
}

.intro-container a {
    font-family: 'Poppins',Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-p5);
    background-color: var(--cor-p1);
    padding: 10px 30px;
    border-radius: 4px;
    align-self: flex-start;
}

.intro-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}